@charset "UTF-8";

/* Paleta de cores

Portrait

Branco: #F2F2F2  
Azul Escuro: #024959
Azul Claro: #026873
Verde Escuro: #A5BF99
Salmão: #CAA090

Landscape

Branco: #EBF0F2
Azul Escuro: #024959
Azul Claro: #65858C
Marron Escuro: #26231F
Marron Claro: #734E39
*/